#Contact{
    background-color:#efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: none!important;
}
::placeholder{
    color: #999!important;

}
.follow{
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}
.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.social-media i{
    font-size: 3rem;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-twitter-square{
    color: #55acee;

}

.fa-instagram{
    color: #e6683c;
}

.fa-google-plus-square{
    color:#dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover{
    color: #45e19f;
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
}

.contact-info .fa:hover{
    color: powderblue;
}